.student-table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.student-table thead {
  background-color: yellow;
  color: black;
}
.student-table tbody {
  background-color: green;
  color:white;
}
.student-table tbody tr:hover {
 background-color: white;
 color:green
}